/*
Theme Name: BlankSlate
Theme URI: https://github.com/tidythemes/blankslate
Author: TidyThemes
Author URI: http://tidythemes.com/
Description: <strong>UPDATE</strong> - 4.0+ is here, completely overhauled, yet again. As always, <a href="http://tidythemes.com/concept/#upgrading">use caution when upgrading</a> (tidythemes.com/concept/#upgrading) and <a href="http://tidythemes.com/concept/">learn the TidyThemes concept</a> (tidythemes.com/concept). &nbsp; &rarr; <em><strong>CAUTION</strong>: If you're child theming or have clients that are child theming on top of BlankSlate (not the recommended use), please do not blindly upgrade to newer versions.</em> &nbsp; &rarr; <strong>DESCRIPTION</strong>: BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme available anywhere for designers/developers to use as a base/foundation to build websites for clients or to build completely custom themes from scratch to release faster. Clean, semi-minified, unformatted and valid code, SEO-friendly, no programmer comments, standardized and as white label as possible and most importantly, CSS reset for cross-browser-compatability and no intrusive visual CSS styles added whatsoever. A perfect skeleton theme that blows any others like it (the subsequent underscores.me for example) completely out of the water, as they're simply too overcomplicated for what people really want in this kind of theme. Now comes with jQuery enqueued and ready to go. &nbsp; &rarr; <strong>SUPPORT</strong>: Please use the <a href="http://tidythemes.com/forum/">official support forum</a> (tidythemes.com/forum). Comments and suggestions for improving BlankSlate, please see "<a href="http://tidythemes.com/tidythemes-sucks/">TidyThemes Sucks!</a>" (tidythemes.com/tidythemes-sucks). Just getting started? <a href="http://tidythemes.com/want-to-learn-css/">Want to learn CSS?</a> (tidythemes.com/want-to-learn-css) &nbsp; &rarr; <strong>WHAT'S NEW?</strong>: We stripped down as much custom, extraneous, superfluous junk code as we could and greatly improved the HTML5 structure. <a href="http://make.wordpress.org/themes/author/chipbennett/">Chip Bennett</a> (make.wordpress.org/themes/author/chipbennett), a highly experienced programmer and official WordPress administrator, worked closely with us to audit the theme code for quality. <a href="http://themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0">See</a> (themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0) just how much we've revamped things. Last, but not least, BlankSlate has now been <a href="https://github.com/tidythemes/blankslate">opened up on GitHub</a> (github.com/tidythemes/blankslate) if anyone would like to make suggested code additions/improvements. Thank you for using BlankSlate.
Version: 4.0.4
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2017 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/
.card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 300px;
  grid-template-rows: 300px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.card-grid .card {
  background-size: cover !important;
  color: #fff;
  padding: 20px;
  font-size: 21px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-grid .card div {
  width: 100%;
  height: 100%;
}

.card-grid .card div:hover div {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card-grid .card p {
  color: #fff;
  font-size: 2.5em;
  font-size: calc(25px + (40 - 42) * (100vw - 768px) / (1440 - 768));
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 15px;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 1000ms;
  transition-duration: 1000ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.card-grid .card p:last-of-type {
  font-size: 0.7em;
}

.card-grid .card.zoom {
  overflow: hidden;
  padding: 0;
  position: relative;
  cursor: pointer;
  height: 300px;
  width: 100%;
}

.card-grid .card.zoom:hover .card-content,
.card-grid .card.zoom:focus .card-content {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card-grid .card.zoom:hover .card-content.card-content:before,
.card-grid .card.zoom:hover .card-content:focus .card-content:before,
.card-grid .card.zoom:focus .card-content.card-content:before,
.card-grid .card.zoom:focus .card-content:focus .card-content:before {
  display: block;
}

.card-grid .card.zoom .card-content {
    background-color: rgba(255, 255, 255, 0.20);
    background-blend-mode:lighten;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-grid .card.zoom .card-content::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.posts.loop .post_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-height: 370px;
  padding-bottom: 30px;
}

.posts.loop .post_item .col:first-of-type {
  margin-right: 30px;
}

.posts.loop .post_item .title {
  color: #225264;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 5px;
  text-decoration: none;
}

.posts.loop .post_item .date {
  color: #565656;
  display: block;
  font-size: 1em;
  margin-bottom: 5px;
}

.posts.loop .post_item .excerpt {
  color: #565656;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 1.6em;
  margin: 0;
  outline: 0;
  padding: 0;
  margin-bottom: 26px;
}

em {
  font-style: italic !important;
}

.posts.loop .post_item .thumb {
  /* -webkit-font-smoothing: antialiased;
  border-width: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  left: 0;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 0 0 calc(42%);
  position: relative;
  right: 0;
  top: 0;
  vertical-align: baseline;
  max-height: 260px; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  min-height: 300px;
  border-radius: 5px;
}

strong {
  font-weight: bold !important;
}

.posts.loop .post_item .thumb img {
  border-radius: 8px;
  display: block;
  max-height: 350px;
}

#entry .row .col:first-of-type ul,
#entry .row .col:first-of-type ol {
  margin: 30px 0;
  padding: 0 40px;
  list-style-type: disc;
}

#entry .row .col:first-of-type ul li,
#entry .row .col:first-of-type ol li {
  color: #565656;
  font-size: 1rem;
  line-height: 1.6rem;
}

.page-template .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-template .col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page-template .col:first-of-type {
  width: 57%;
  margin-right: 3%;
}

.page-template .col:last-of-type {
  width: 40%;
}


.page-template .col:last-of-type img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.page-template p,
.page-template h1,
.page-template h2,
.page-template h3,
.page-template h4,
.page-template h5,
.page-template h6 {
  line-height: 1.6em;
}

.page-template p {
  color: #565656;
  font-size: 1rem;
  margin-bottom: 1.6em;
}

.page-template p.preamble {
  color: #454545;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 30px;
}

.page-template h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.page-template h3 {
  font-size: 1.2em;
  font-weight: 700;
}

.page-card {
  background: #f4f7f9;
  color: #304f61;
  border-radius: 5px;
  -webkit-transition: background 0.3s, border 2s, border-radius 2s, -webkit-box-shadow 2s;
  transition: background 0.3s, border 2s, border-radius 2s, -webkit-box-shadow 2s;
  transition: background 0.3s, border 2s, border-radius 2s, box-shadow 2s;
  transition: background 0.3s, border 2s, border-radius 2s, box-shadow 2s, -webkit-box-shadow 2s;
  padding: 35px 35px 35px 35px;
  margin-bottom: 10px;
}

.page-card h2 {
  color: #304f61;
}

.page-card p {
  color: #304f61;
}

.page-card .tag-cloud {
  margin-top: 10px;
  width: 100%;
}

.page-card .tag-cloud span {
  display: inline-block;
  background-color: #304f61;
  border-radius: 20px;
  margin: 2.5px 0px;
  padding: 5px 10px;
}

.page-card .tag-cloud span a {
  color: #fff;
}

.page-card ul, .page-card ol {
  padding-left: 30px;
  list-style-type: disc;
}
.page-card ul li,
.page-card ol lo {
  color: #565656;
  font-size: 1rem;
  line-height: 1.6rem;
}

.blog_article .page-template .col .publish,
.news_article .page-template .col .publish {
  margin: 0px 0px 20px 0px;
}

.blog_article .page-template .col .publish a,
.news_article .page-template .col .publish a {
  color: #4a7894;
  font-weight: bold;
}

.blog_article .page-template .col img,
.news_article .page-template .col img {
  margin-bottom: 20px;
  max-height: 23rem;
}

.blog_article .page-card,
.news_article .page-card {
  background: #f4f7f9;
}

.blog_article .page-card ul li,
.news_article .page-card ul li {
  margin: 10px 0;
}

.blog_article .page-card ul li a,
.news_article .page-card ul li a {
  color: #4a7894;
  font-weight: bold;
}

.blog_article .page-card h2,
.blog_article .page-card p,
.news_article .page-card h2,
.news_article .page-card p {
  color: #225264;
}

.page-card.services,
.page-card.tech {
  color: #fff;
}

.page-card.services p,
.page-card.tech p {
  font-size: 1.1em;
  font-weight: bold;
}

.page-card.services ul,
.page-card.tech ul {
  margin-bottom: 30px;
}

.page-card.services ul li,
.page-card.tech ul li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.page-card.services ul li:last-child,
.page-card.tech ul li:last-child {
  border: none;
}

.page-card.services ul li svg,
.page-card.tech ul li svg {
  height: 20px;
}

.page-card.tech p {
  font-weight: 500;
}

.page-card.tech p:first-of-type {
  font-weight: bold;
}

.author-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #f4f7f9;
  margin-bottom: 2.75rem;
  padding: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.author-box img {
  margin-bottom: 0px !important;
}

.author-box .author-detail {
  padding-left: 1rem;
}

.author-box .author-detail > div {
  display: flex;
  align-items: baseline;
}

.author-box .author-detail > div  a {
  color: #235668;
  margin-right: 1rem;
}

.author-box .author-detail p {
  margin: 5px 0;
  padding: 0;
}

@media (max-width: 768px) {
  .full-width {
    height: auto !important;
  }

  .full-width .col {
    width: 100% !important;
  }
}

.contactform_mini {
  height: 250px !important;
}

.contactform_mini .col:first-of-type {
  padding: 0 !important;
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
}

.contactform_mini .col:first-of-type button {
  background-color: #FFC35C;
}

.contactform_mini .col:nth-child(2) .row input[type="text"] {
  color: #fff;
  background-color: #1c1c1c;
  border-width: 0;
  border-radius: 8px 8px 8px 8px;
  margin-top: -4px;
  padding: 10px;
  min-height: 43px;
  width: 100%;
  max-width: 320px !important;
}

.contactform_mini .col:nth-child(2) .row button.btn-primary {
  margin-left: 4px;
}

.section.centered.branded {
  max-width: 100%;
}

@media (min-width: 769px) and (max-width: 1386px) {
  .contactform_mini .col .row button.btn-primary {
    margin-top: 10px;
    max-width: 320px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contactform_mini .col h3 {
    font-size: 22px !important;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
}

.footer {
  background-color: #225264;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 40px 0px 40px 0px;
}

@supports (-ms-ime-align:auto) {
    .footer {
        justify-content: space-around !important;
    }
}

.footer h4 {
  font-size: 1.5em;
  font-weight: 700;
}

.footer b {
  display: block;
}

.footer b:nth-child(odd) {
  padding-top: 15px;
}

.footer b:nth-child(even) {
  padding-top: 15px;
}

.footer li,
.footer p,
.footer b {
  font-size: 16px;
  line-height: 1.5em;
}

.footer i {
  background: #fdb913;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
  font-size: 30px;
  width: 50px;
}

.footer ul li {
  padding: 5px 0;
}

.footer ul li:first-of-type {
  padding-top: 15px;
}

.footer ul li:last-of-type {
  padding: 10px 0 0 0;
}

.footer ul a {
  color: #fff;
}

@media (max-width: 820px) {
  .footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer .col {
    border-bottom: 4px solid #15313c;
    padding-bottom: 40px;
    text-align: center;
    max-width: 500px;
    width: 80%;
  }

  .footer .col:not(:first-child) {
    padding-top: 40px;
  }

  .footer .col:last-of-type {
    border-bottom: none;
  }
}

@media (min-width: 769px) {
  .full-video {
    min-height: 900px;
  }
}

@media (max-width: 768px) {
  .content .page-template .col {
    margin: 0;
    width: auto !important;
  }

  .content .page-template .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }

  .content.blog_article .page-template .row,
  .content.news_article .page-template .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .content .entry-content {
    padding: 40px 5%;
  }

  .content .entry-content h2 {
    margin-left: -10px;
  }

  .content .entry-content p {
    color: #565656;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 1.6em;
  }

  .cd-logo {
    position: absolute;
    top: 9px;
    left: 5%;
  }

  .full-video {
    margin-top: 60px;
    min-height: 535px;
    height: 60vh;
  }

  .full-video .centered-content {
    width: 90%;
  }

  .full-video .centered-content * {
    padding: 10px;
  }

  .full-video .centered-content h1,
  .hero>div>div>h2 {
    font-size: 1.8rem;
  }

  .full-video .centered-content p {
    font-size: 1.3rem;
  }

  .centered-content a.btn-primary {
    margin-bottom: 20px;
  }

  .card-grid {
    grid-auto-rows: 300px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .full-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }

  .full-width .col {
    padding: 20px;
    margin: 0 auto;
    width: inherit;
  }

  .full-width .col button {
    width: 100%;
  }

  .full-width .col h3 {
    font-size: 1.3em;
  }

  .full-width .col:first-of-type h2 {
    text-align: center;
  }

  .full-width .col:last-of-type input[type="text"],
  .full-width .col:last-of-type textarea {
    width: 100% !important;
  }

  .full-width .col:last-of-type .half:first-of-type {
    margin-bottom: 5px;
  }

  .contactform_mini {
    height: 250px !important;
  }

  .contactform_mini .col:first-of-type {
    padding: 0 !important;
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important;
  }

  .contactform_mini .col:nth-child(2) .row input[type="text"] {
    margin-bottom: 10px;
    max-width: 100% !important;
  }
}

@media (max-width: 500px) {
  #contact-btn {
    display: none;
  }
}

@media (max-width: 900px) {
  .posts.loop .post_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    max-height: none;
  }

  .posts.loop .post_item .col:first-of-type {
    padding-bottom: 40px;
  }

  .posts.loop .post_item .thumb {
    padding: 0 0 10px 0;
  }

  .posts.loop .post_item .thumb img {
    min-width: auto;
    width: 100%;
  }

  .full-video .centered-content h1 {
    white-space: unset;
  }
}

@media (max-width: 1169px) {
  .cookie-banner {
    height: auto;
    top: 60px;
  }

  .hero {
    margin-top: 60px;
  }
}

@media (max-width: 1240px) {
  .content {
    max-width: 95% !important;
  }
}

@media (max-width: 900px) {
  #posts .post_item {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    max-height: none;
  }

  #posts .post_item .col:first-of-type {
    margin: 20px 0;
  }

  #posts .post_item .thumb {
    height: auto;
    max-height: 200px;
  }

  #posts .post_item .thumb img {
    max-width: none;
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #225264;
  font-family: 'Meta OT', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

b {
  font-weight: bold;
}

h1 {
  color: #225264;
  font-size: 3.2rem;
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.5em;
}

h4,
.entry-content h4,
.entry-content h4 a {
  font-size: 20px;
  font-size: 1.3333333333333rem;
}

header {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  -webkit-appearance: none;
  -webkit-box-flex: 1;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  border: 1px solid #818a91;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #192730;
  font-family: MetaOT, sans-serif;
  font-size: 1rem;
  font-size: 1em;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0;
  max-width: 100%;
  min-height: 40px;
  padding: 5px 14px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  vertical-align: middle;
  width: auto;
}

input:focus {
  outline: none;
}

.btn {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn.large {
  font-size: 1.7em;
}

.cd-main-header {
  position: fixed;
  width: 100%;
}

#entry.content {
  margin: 0 auto;
  margin-top: 70px;
  max-width: 95%;
  padding: 50px 0 20px 0;
}

body.page-template-default #entry.content {
    max-width: 1200px !important;
}

#entry.content h1 {
  color: #083e54;
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
  margin: 0 0 30px;
  text-rendering: optimizelegibility;
}

#entry.content h1:first-letter{
  text-transform: capitalize
}

.full-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background-color: #000;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 80vh;
  margin-top: 80px;
  width: auto;
  height: auto;
  z-index: 1;
}

.full-video video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.full-video .centered-content {
  font-weight: 400;
  text-align: center;
  position: relative;
  max-width: 800px;
  z-index: 2;
  margin-top: -80px;
}

.full-video .centered-content h1 {
  color: #fff;
  font-size: 3.8rem;
  font-weight: bold;
  white-space: nowrap;
  line-height: 1.5em;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.full-video .centered-content p {
  color: #fff;
  font-family: MetaOT, sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 20px;
}

.full-video .centered-content a.btn-primary:first-of-type {
  margin-right: 10px;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.content .entry-content {
  padding: 40px 20%;
}

.content .entry-content:first-of-type {
  background-color: rgba(122, 122, 122, 0.05);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.content .entry-content h2 {
  color: #225264;
  font-size: 2.8rem;
  font-size: 3em;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 20px -20px;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.content .entry-content p {
  color: #565656;
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 1.6em;
}

.sponsor.row {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 200px;
}

.sponsor.row button {
  display: none !important;
}

.sponsor.row img {
  max-height: 120px;
}

textarea {
  -webkit-appearance: none;
  -webkit-box-flex: 1;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  border: 1px solid #818a91;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #192730;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: MetaOT, sans-serif;
  font-size: 1rem;
  font-size: 1em;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0;
  max-width: 100%;
  min-height: 40px;
  overflow: auto;
  padding: 5px 14px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  vertical-align: middle;
  width: 100%;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #fdb913;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.hero {
  background-image: url(http://sp.ampilioutveckling.se/wp-content/uploads/2018/06/om.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  margin-top: 80px;
  width: 100%;
}

.hero .hero-inner {
  background: rgba(0, 0, 0, 0.76);
  color: #fff;
  height: 100%;
  -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  width: 100%;
}

.hero .hero-inner .centered {
  margin: 0 auto;
  width: 70%;
}

.full-width.big {
  height: 600px;
}

.full-width {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 420px;
  width: 100%;
}

.full-width .col.wide {
  max-width: 900px;
  width: 90%;
}

.full-width .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 35%;
}

.full-width .col h3 {
  font-size: 1.8em;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.full-width .col:first-of-type {
  padding-top: 5%;
  padding-right: 5%;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.full-width .col:last-child form>div {
  padding: 5px;
}

.full-width .col:last-child .row {
  padding: 2.5px;
}

.full-width .col:last-child .row input,
.full-width .col:last-child .row textarea {
  width: 98%;
}

.full-width .col:last-child .row input.half {
  width: 48.5%;
}

.section {
  height: auto;
  padding: 50px 0;
}

.branded {
  background: #e3e9ec;
  color: #225264;
}

.branded h3 {
  font-family: "Meta OT", Sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: none;
  margin-top: 10px;
  line-height: 1.6em;
  letter-spacing: -0.1px;
}

.branded p {
  color: #225264;
  font-size: 1.2rem;
}

@media all (max-width: 768px) {
    .branded p {
        width: 90%;
    }
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.cookie-banner {
  background: #f9ca24;
  color: #fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 80px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1;
  width: 100%;
}

.cookie-banner:hover {
  cursor: pointer;
  opacity: 0.8;
}

.one {
  white-space: nowrap;
}

.txt-left {
  text-align: left !important;
}

.btn-primary {
  -webkit-font-smoothing: antialiased;
  background-color: #fdb913;
  border-radius: 5px;
  border-width: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: MetaOT, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 13px 26px;
  text-align: center;
  text-decoration: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  width: auto;
}

.btn-primary:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (min-width: 769px) {
  .full-video {
    min-height: 900px;
  }
}

@media (max-width: 768px) {
  .content .page-template .col {
    margin: 0;
    width: auto !important;
  }

  .content .page-template .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }

  .content.blog_article .page-template .row,
  .content.news_article .page-template .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .content .entry-content {
    padding: 40px 5%;
  }

  .content .entry-content h2 {
    margin-left: -10px;
  }

  .content .entry-content p {
    color: #565656;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 1.6em;
  }

  .cd-logo {
    position: absolute;
    top: 9px;
    left: 5%;
  }

  .full-video {
    margin-top: 60px;
    min-height: 535px;
    height: 60vh;
  }

  .full-video .centered-content {
    width: 90%;
  }

  .full-video .centered-content * {
    padding: 10px;
  }

  .full-video .centered-content h1,
  .hero>div>div>h2 {
    font-size: 1.8rem;
  }

  .full-video .centered-content p {
    font-size: 1.3rem;
  }

  .centered-content a.btn-primary {
    margin-bottom: 20px;
  }

  .card-grid {
    grid-auto-rows: 300px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .full-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }

  .full-width .col {
    padding: 20px;
    margin: 0 auto;
    width: inherit;
  }

  .full-width .col button {
    width: 100%;
  }

  .full-width .col h3 {
    font-size: 1.3em;
  }

  .full-width .col:first-of-type h2 {
    text-align: center;
  }

  .full-width .col:last-of-type input[type="text"],
  .full-width .col:last-of-type textarea {
    width: 100% !important;
  }

  .full-width .col:last-of-type .half:first-of-type {
    margin-bottom: 5px;
  }

  .contactform_mini {
    height: 250px !important;
  }

  .contactform_mini .col:first-of-type {
    padding: 0 !important;
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important;
  }

  .contactform_mini .col:nth-child(2) .row input[type="text"] {
    margin-bottom: 10px;
    max-width: 100% !important;
  }
}

@media (max-width: 500px) {
  #contact-btn {
    display: none;
  }
}

@media (max-width: 900px) {
  .posts.loop .post_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    max-height: none;
  }

  .posts.loop .post_item .col:first-of-type {
    padding-bottom: 40px;
  }

  .posts.loop .post_item .col {
    width: 100% !important;
  }

  .posts.loop .post_item .thumb {
    padding: 0 0 10px 0;
  }

  .posts.loop .post_item .thumb img {
    min-width: auto;
    width: 100%;
  }

  .full-video .centered-content h1 {
    white-space: unset;
  }
}

@media (max-width: 1169px) {
  .cookie-banner {
    height: auto;
    top: 60px;
  }

  .hero {
    margin-top: 60px;
  }
}

@media (max-width: 1240px) {
  .content {
    max-width: 95% !important;
  }
}

@media (max-width: 900px) {
  #posts .post_item {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    max-height: none;
  }

  #posts .post_item .col:first-of-type {
    margin: 20px 0;
  }

  #posts .post_item .thumb {
    height: auto;
    max-height: 200px;
  }

  #posts .post_item .thumb img {
    max-width: none;
    width: 100%;
  }
}


.footer .col {
  width: auto !important;
  margin: 0 !important;
}

.footer .col p {
  margin-bottom: 0;
  color: #fff;
}


.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.row.about {
  background-color: rgba(122, 122, 122, 0.05);
  display: flex;
}

.row.about .row.sponsor {
  max-width: 1000px;
  margin: 0 auto;
  width: auto;
}

.row.about .col:first-of-type {
  width: 160%;
}

.row.about .content .entry-content {
  background-color: transparent;
}

.row.about .col:last-of-type {
  margin-right: 10%;
  padding-top: 40px;
  width: 100%;
}

.row.about .col:last-of-type .card-grid {
  display: flex;
}

@media (max-width: 900px) {
  .row.about {
    flex-direction: column !important;
  }

  .row.sponsor {
    max-width: none !important;
  }

  .content .entry-content {
    padding: 40px 5%;
    width: auto;
    max-width: 98vw;
  }

  .content .entry-content:first-of-type {
    background-color: transparent !important;
  }

  .row.about .col:last-of-type {
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .row.about>.col {
    background-color: rgba(122, 122, 122, 0.05);
    width: 100%;
  }
}

@media (max-width: 700px) {
  .full-video video {
    width: 300vw;
    left: 50%;
    transform: translateX(-50%);
  }
}



.contact-col {
    width:50%;
    margin:0 auto;
    text-align: center;
}

.contact-col p {
    margin: 0;
}

.cd-primary-nav .cd-secondary-nav > li:last-of-type {
    border: none;
}
/*# sourceMappingURL=style.css.map */