
/*
 Theme Name:   Blankslate Child
 Theme URI:    https://ampilio.se
 Description:  Specialbygge för Solid Parks koncern
 Author:       Jack BIllström
 Author URI:   https://billstrom.rocks
 Template:     blankslate
 Version:      1.0.0
 Tags:         black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready, responsive-layout, infinite-scroll, post-slider, design, food, journal, magazine, news, photography, portfolio, clean, contemporary, dark, elegant, modern, professional, sophisticated
 Text Domain:  blankslate-child
*/
.card-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 300px;
        grid-template-rows: 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    justify-items: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  
  .card-grid .card {
    background-size: cover !important;
    color: #fff;
    padding: 20px;
    font-size: 21px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .card-grid .card div {
    width: 100%;
    height: 100%;
  }
  
  .card-grid .card div:hover div {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .card-grid .card p {
    font-size: 2.5em;
    font-size: calc(25px + (40 - 42) * (100vw - 768px) / (1440 - 768));
    font-weight: bold;
    line-height: 1.3;
    margin: 0 0 15px;
    position: relative;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  
  .card-grid .card p:last-of-type {
    font-size: 0.7em;
  }
  
  .card-grid .card.zoom {
    overflow: hidden;
    padding: 0;
    position: relative;
    cursor: pointer;
    height: 300px;
    width: 100%;
  }
  
  .card-grid .card.zoom:hover .card-content,
  .card-grid .card.zoom:focus .card-content {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .card-grid .card.zoom:hover .card-content.card-content:before,
  .card-grid .card.zoom:hover .card-content:focus .card-content:before,
  .card-grid .card.zoom:focus .card-content.card-content:before,
  .card-grid .card.zoom:focus .card-content:focus .card-content:before {
    display: block;
  }
  
  .card-grid .card.zoom .card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .card-grid .card.zoom .card-content::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .posts.loop .post_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 370px;
  }
  
  .posts.loop .post_item .col:first-of-type {
    margin-right: 30px;
  }
  
  .posts.loop .post_item .title {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 5px;
    text-decoration: none;
  }
  
  .posts.loop .post_item .date {
    color: #565656;
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .posts.loop .post_item .excerpt {
    color: #565656;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: -.1px;
    line-height: 1.6em;
    margin: 0;
    outline: 0;
    padding: 0;
    margin-bottom: 26px;
  }
  
  .posts.loop .post_item .thumb {
    -webkit-font-smoothing: antialiased;
    border-width: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 100%;
    left: 0;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 0 0 calc(42%);
    position: relative;
    right: 0;
    top: 0;
    vertical-align: baseline;
  }
  
  .posts.loop .post_item .thumb img {
    border-radius: 8px;
    display: block;
    min-width: 518px;
  }
  
  #entry .row .col:first-of-type ul {
    margin: 30px 0;
    padding: 0 40px;
    list-style-type: disc;
  }
  
  #entry .row .col:first-of-type ul li {
    color: #565656;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  
  .page-template .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .page-template .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .page-template .col:first-of-type {
    width: 57%;
    margin-right: 3%;
  }
  
  .page-template .col:last-of-type {
    width: 40%;
  }
  
  .page-template .col:last-of-type img {
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .page-template p, .page-template h1, .page-template h2, .page-template h3, .page-template h4, .page-template h5, .page-template h6 {
    line-height: 1.6em;
  }
  
  .page-template p {
    color: #565656;
    font-size: 1rem;
    margin-bottom: 1.6em;
  }
  
  .page-template p.preamble {
    color: #454545;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 30px;
  }
  
  .page-template h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .page-template h3 {
    font-size: 1.2em;
    font-weight: 700;
  }
  
  .page-card {
    background: #225264;
    border-radius: 5px;
    -webkit-transition: background 0.3s, border 2s, border-radius 2s, -webkit-box-shadow 2s;
    transition: background 0.3s, border 2s, border-radius 2s, -webkit-box-shadow 2s;
    transition: background 0.3s, border 2s, border-radius 2s, box-shadow 2s;
    transition: background 0.3s, border 2s, border-radius 2s, box-shadow 2s, -webkit-box-shadow 2s;
    padding: 35px 35px 35px 35px;
    margin-bottom: 10px;
  }
  
  .page-card h2 {
    color: #fff;
  }
  
  .page-card p {
    color: #fff;
  }
  
  .page-card .tag-cloud {
    margin-top: 10px;
    width: 100%;
  }
  
  .page-card .tag-cloud span {
    display: inline-block;
    background-color: #304f61;
    border-radius: 20px;
    margin: 2.5px 0px;
    padding: 5px 10px;
  }
  
  .page-card .tag-cloud span a {
    color: #fff;
  }
  
  .blog_article .page-template .col .publish,
  .news_article .page-template .col .publish {
    margin: 0px 0px 20px 0px;
  }
  
  .blog_article .page-template .col .publish a,
  .news_article .page-template .col .publish a {
    color: #4a7894;
    font-weight: bold;
  }
  
  .blog_article .page-template .col img,
  .news_article .page-template .col img {
    margin-bottom: 20px;
  }
  
  .blog_article .page-card,
  .news_article .page-card {
    background: #f4f7f9;
  }
  
  .blog_article .page-card ul li,
  .news_article .page-card ul li {
    margin: 10px 0;
  }
  
  .blog_article .page-card ul li a,
  .news_article .page-card ul li a {
    color: #4a7894;
    font-weight: bold;
  }
  
  .blog_article .page-card h2, .blog_article .page-card p,
  .news_article .page-card h2,
  .news_article .page-card p {
    color: #225264;
  }
  
  .page-card.services,
  .page-card.tech {
    color: #fff;
  }
  
  .page-card.services p,
  .page-card.tech p {
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .page-card.services ul,
  .page-card.tech ul {
    margin-bottom: 30px;
  }
  
  .page-card.services ul li,
  .page-card.tech ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .page-card.services ul li:last-child,
  .page-card.tech ul li:last-child {
    border: none;
  }
  
  .page-card.services ul li svg,
  .page-card.tech ul li svg {
    height: 20px;
  }
  
  .page-card.tech p {
    font-weight: 500;
  }
  
  .page-card.tech p:first-of-type {
    font-weight: bold;
  }
  
  .author-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: #f4f7f9;
    margin-bottom: 2.75rem;
    padding: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .author-box .author-detail {
    padding-left: 1rem;
  }
  
  .author-box .author-detail p {
    margin: 5px 0;
    padding: 0;
  }
  
  @media (max-width: 768px) {
    .full-width {
      height: auto !important;
    }
    .full-width .col {
      width: 100% !important;
    }
  }
  
  .contactform_mini {
    height: 250px !important;
  }
  
  .contactform_mini .col:first-of-type {
    padding: 0 !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
  }
  
  .contactform_mini .col:first-of-type button {
    background-color: #FFC35C;
  }
  
  .contactform_mini .col:nth-child(2) .row input[type="text"] {
    color: #fff;
    background-color: #1c1c1c;
    border-width: 0;
    border-radius: 8px 8px 8px 8px;
    margin-top: -4px;
    padding: 10px;
    min-height: 43px;
    width: 100%;
    max-width: 320px !important;
  }
  
  .contactform_mini .col:nth-child(2) .row button.btn-primary {
    margin-left: 4px;
  }
  
  .section.centered.branded {
    max-width: 100%;
  }
  
  @media (min-width: 769px) and (max-width: 1386px) {
    .contactform_mini .col .row button.btn-primary {
      margin-top: 10px;
      max-width: 320px;
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .contactform_mini .col h3 {
      font-size: 22px !important;
      text-align: center;
      margin: 0 auto;
      width: 90%;
    }
  }
  
  .footer {
    background-color: #225264;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 40px 0px 40px 0px;
  }
  
  .footer h4 {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  .footer b {
    display: block;
  }
  
  .footer b:nth-child(odd) {
    padding-top: 15px;
  }
  
  .footer b:nth-child(even) {
    padding-top: 15px;
  }
  
  .footer li, .footer p, .footer b {
    font-size: 16px;
    line-height: 1.5em;
  }
  
  .footer i {
    background: #fdb913;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    width: 50px;
  }
  
  .footer ul li {
    padding: 5px 0;
  }
  
  .footer ul li:first-of-type {
    padding-top: 15px;
  }
  
  .footer ul li:last-of-type {
    padding: 10px 0 0 0;
  }
  
  .footer ul a {
    color: #fff;
  }
  
  @media (max-width: 820px) {
    .footer {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .footer .col {
      border-bottom: 4px solid #15313c;
      padding-bottom: 40px;
      text-align: center;
      max-width: 500px;
      width: 80%;
    }
    .footer .col:not(:first-child) {
      padding-top: 40px;
    }
    .footer .col:last-of-type {
      border-bottom: none;
    }
  }
  
  @media (min-width: 769px) {
    .full-video {
      min-height: 900px;
    }
  }
  
  @media (max-width: 768px) {
    .content .page-template .col {
      margin: 0;
      width: auto !important;
    }
    .content .page-template .row {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: reverse !important;
          -ms-flex-direction: column-reverse !important;
              flex-direction: column-reverse !important;
    }
    .content.blog_article .page-template .row, .content.news_article .page-template .row {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
          -ms-flex-direction: column !important;
              flex-direction: column !important;
    }
    .content .entry-content {
      padding: 40px 5%;
    }
    .content .entry-content h2 {
      margin-left: -10px;
    }
    .content .entry-content p {
      color: #565656;
      font-size: 1.1em;
      line-height: 1.6em;
      margin-bottom: 1.6em;
    }
    .cd-logo {
      position: absolute;
      top: 9px;
      left: 5%;
    }
    .full-video {
      margin-top: 60px;
      min-height: 535px;
      height: 60vh;
    }
    .full-video .centered-content {
      width: 90%;
    }
    .full-video .centered-content * {
      padding: 10px;
    }
    .full-video .centered-content h1,
    .hero > div > div > h2 {
      font-size: 1.8rem;
    }
    .full-video .centered-content p {
      font-size: 1.3rem;
    }
    .centered-content a.btn-primary {
      margin-bottom: 20px;
    }
    .card-grid {
      grid-auto-rows: 300px;
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }
    .full-width {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: auto;
    }
    .full-width .col {
      padding: 20px;
      margin: 0 auto;
      width: inherit;
    }
    .full-width .col button {
      width: 100%;
    }
    .full-width .col h3 {
      font-size: 1.3em;
    }
    .full-width .col:first-of-type h2 {
      text-align: center;
    }
    .full-width .col:last-of-type input[type="text"],
    .full-width .col:last-of-type textarea {
      width: 100% !important;
    }
    .full-width .col:last-of-type .half:first-of-type {
      margin-bottom: 5px;
    }
    .contactform_mini {
      height: 250px !important;
    }
    .contactform_mini .col:first-of-type {
      padding: 0 !important;
      -ms-flex-item-align: center !important;
          -ms-grid-row-align: center !important;
          align-self: center !important;
    }
    .contactform_mini .col:nth-child(2) .row input[type="text"] {
      margin-bottom: 10px;
      max-width: 100% !important;
    }
  }
  
  @media (max-width: 500px) {
    #contact-btn {
      display: none;
    }
  }
  
  @media (max-width: 900px) {
    .posts.loop .post_item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      max-height: none;
    }
    .posts.loop .post_item .col:first-of-type {
      padding-bottom: 40px;
    }
    .posts.loop .post_item .thumb {
      padding: 0 0 10px 0;
    }
    .posts.loop .post_item .thumb img {
      min-width: auto;
      width: 100%;
    }
    .full-video .centered-content h1 {
      white-space: unset;
    }
  }
  
  @media (max-width: 1169px) {
    .cookie-banner {
      height: auto;
      top: 60px;
    }
    .hero {
      margin-top: 60px;
    }
  }
  
  @media (max-width: 1240px) {
    .content {
      max-width: 95% !important;
    }
  }
  
  @media (max-width: 900px) {
    #posts .post_item {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: reverse !important;
          -ms-flex-direction: column-reverse !important;
              flex-direction: column-reverse !important;
      max-height: none;
    }
    #posts .post_item .col:first-of-type {
      margin: 20px 0;
    }
    #posts .post_item .thumb {
      height: auto;
      max-height: 200px;
    }
    #posts .post_item .thumb img {
      max-width: none;
      width: 100%;
    }
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  body,
  html {
    font-size: 93.75%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #225264;
    font-family: 'Meta OT', sans-serif;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  b {
    font-weight: bold;
  }
  
  h1 {
    color: #225264;
    font-size: 3.2rem;
    font-size: 3.2em;
    font-weight: 700;
    line-height: 1;
  }
  
  h2 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.5em;
  }
  
  h4, .entry-content h4, .entry-content h4 a {
    font-size: 20px;
    font-size: 1.3333333333333rem;
  }
  
  header {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"] {
    -webkit-appearance: none;
    -webkit-box-flex: 1;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    border: 1px solid #818a91;
    border-radius: 3px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #192730;
    font-family: MetaOT,sans-serif;
    font-size: 1rem;
    font-size: 1em;
    font-weight: 400;
    height: auto;
    line-height: 1.4;
    margin: 0;
    max-width: 100%;
    min-height: 40px;
    padding: 5px 14px;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    vertical-align: middle;
    width: auto;
  }
  
  input:focus {
    outline: none;
  }
  
  .btn {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .btn.large {
    font-size: 1.7em;
  }
  
  .cd-main-header {
    position: fixed;
    width: 100%;
  }
  
  #entry.content {
    margin: 0 auto;
    margin-top: 70px;
    max-width: 1200px;
    padding: 50px 0 20px 0;
  }
  
  #entry.content h1 {
    color: #083e54;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    margin: 0 0 30px;
    text-rendering: optimizelegibility;
  }
  
  .full-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: #000;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 80vh;
    margin-top: 80px;
    width: auto;
    height: auto;
    z-index: -100;
  }
  
  .full-video video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .full-video .centered-content {
    font-weight: 400;
    text-align: center;
    position: relative;
    max-width: 800px;
    z-index: 1;
  }
  
  .full-video .centered-content h1 {
    color: #fff;
    font-size: 3.8rem;
    font-weight: bold;
    white-space: nowrap;
    line-height: 1.5em;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  
  .full-video .centered-content p {
    color: #fff;
    font-family: MetaOT,sans-serif;
    font-size: 1.7em;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 20px;
  }
  
  .full-video .centered-content a.btn-primary:first-of-type {
    margin-right: 10px;
  }
  
  .centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    max-width: 1200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  
  .content .entry-content {
    padding: 40px 20%;
  }
  
  .content .entry-content:first-of-type {
    background-color: rgba(122, 122, 122, 0.05);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  
  .content .entry-content h2 {
    color: #225264;
    font-size: 2.8rem;
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 20px -20px;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  
  .content .entry-content p {
    color: #565656;
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 1.6em;
  }
  
  .sponsor.row {
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
  }
  
  .sponsor.row button {
    display: none !important;
  }
  
  .sponsor.row img {
    max-height: 120px;
  }
  
  textarea {
    -webkit-appearance: none;
    -webkit-box-flex: 1;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    border: 1px solid #818a91;
    border-radius: 3px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #192730;
    -ms-flex-positive: 1;
        flex-grow: 1;
    font-family: MetaOT,sans-serif;
    font-size: 1rem;
    font-size: 1em;
    font-weight: 400;
    height: auto;
    line-height: 1.4;
    margin: 0;
    max-width: 100%;
    min-height: 40px;
    overflow: auto;
    padding: 5px 14px;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    vertical-align: middle;
    width: 100%;
  }
  
  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #fdb913;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
  
  .row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  
  .hero {
    background-image: url(http://sp.ampilioutveckling.se/wp-content/uploads/2018/06/om.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    margin-top: 80px;
    width: 100%;
  }
  
  .hero .hero-inner {
    background: rgba(0, 0, 0, 0.76);
    color: #fff;
    height: 100%;
    -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    width: 100%;
  }
  
  .hero .hero-inner .centered {
    margin: 0 auto;
    width: 70%;
  }
  
  .full-width.big {
    height: 600px;
  }
  
  .full-width {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 420px;
    width: 100%;
  }
  
  .full-width .col.wide {
    max-width: 900px;
    width: 90%;
  }
  
  .full-width .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 35%;
  }
  
  .full-width .col h3 {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
  }
  
  .full-width .col:first-of-type {
    padding-top: 5%;
    padding-right: 5%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  
  .full-width .col:last-child form > div {
    padding: 5px;
  }
  
  .full-width .col:last-child .row {
    padding: 2.5px;
  }
  
  .full-width .col:last-child .row input,
  .full-width .col:last-child .row textarea {
    width: 98%;
  }
  
  .full-width .col:last-child .row input.half {
    width: 48.5%;
  }
  
  .section {
    height: auto;
    padding: 50px 0;
  }
  
  .branded {
    background: #e3e9ec;
    color: #225264;
  }
  
  .branded h3 {
    font-family: "Meta OT", Sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: none;
    margin-top: 10px;
    line-height: 1.6em;
    letter-spacing: -0.1px;
  }
  
  .branded p {
    color: #225264;
    font-size: 1em;
  }
  
  .centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  
  .cookie-banner {
    background: #f9ca24;
    color: #fff;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 80px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 1;
    width: 100%;
  }
  
  .cookie-banner:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .one {
    white-space: nowrap;
  }
  
  .txt-left {
    text-align: left !important;
  }
  
  .btn-primary {
    -webkit-font-smoothing: antialiased;
    background-color: #fdb913;
    border-radius: 5px;
    border-width: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: MetaOT,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    outline: 0;
    padding: 13px 26px;
    text-align: center;
    text-decoration: none;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    width: auto;
  }
  
  .btn-primary:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  @media (min-width: 769px) {
    .full-video {
      min-height: 900px;
    }
  }
  
  @media (max-width: 768px) {
    .content .page-template .col {
      margin: 0;
      width: auto !important;
    }
    .content .page-template .row {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: reverse !important;
          -ms-flex-direction: column-reverse !important;
              flex-direction: column-reverse !important;
    }
    .content.blog_article .page-template .row, .content.news_article .page-template .row {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
          -ms-flex-direction: column !important;
              flex-direction: column !important;
    }
    .content .entry-content {
      padding: 40px 5%;
    }
    .content .entry-content h2 {
      margin-left: -10px;
    }
    .content .entry-content p {
      color: #565656;
      font-size: 1.1em;
      line-height: 1.6em;
      margin-bottom: 1.6em;
    }
    .cd-logo {
      position: absolute;
      top: 9px;
      left: 5%;
    }
    .full-video {
      margin-top: 60px;
      min-height: 535px;
      height: 60vh;
    }
    .full-video .centered-content {
      width: 90%;
    }
    .full-video .centered-content * {
      padding: 10px;
    }
    .full-video .centered-content h1,
    .hero > div > div > h2 {
      font-size: 1.8rem;
    }
    .full-video .centered-content p {
      font-size: 1.3rem;
    }
    .centered-content a.btn-primary {
      margin-bottom: 20px;
    }
    .card-grid {
      grid-auto-rows: 300px;
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }
    .full-width {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: auto;
    }
    .full-width .col {
      padding: 20px;
      margin: 0 auto;
      width: inherit;
    }
    .full-width .col button {
      width: 100%;
    }
    .full-width .col h3 {
      font-size: 1.3em;
    }
    .full-width .col:first-of-type h2 {
      text-align: center;
    }
    .full-width .col:last-of-type input[type="text"],
    .full-width .col:last-of-type textarea {
      width: 100% !important;
    }
    .full-width .col:last-of-type .half:first-of-type {
      margin-bottom: 5px;
    }
    .contactform_mini {
      height: 250px !important;
    }
    .contactform_mini .col:first-of-type {
      padding: 0 !important;
      -ms-flex-item-align: center !important;
          -ms-grid-row-align: center !important;
          align-self: center !important;
    }
    .contactform_mini .col:nth-child(2) .row input[type="text"] {
      margin-bottom: 10px;
      max-width: 100% !important;
    }
  }
  
  @media (max-width: 500px) {
    #contact-btn {
      display: none;
    }
  }
  
  @media (max-width: 900px) {
    .posts.loop .post_item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      max-height: none;
    }
    .posts.loop .post_item .col:first-of-type {
      padding-bottom: 40px;
    }
    .posts.loop .post_item .thumb {
      padding: 0 0 10px 0;
    }
    .posts.loop .post_item .thumb img {
      min-width: auto;
      width: 100%;
    }
    .full-video .centered-content h1 {
      white-space: unset;
    }
  }
  
  @media (max-width: 1169px) {
    .cookie-banner {
      height: auto;
      top: 60px;
    }
    .hero {
      margin-top: 60px;
    }
  }
  
  @media (max-width: 1240px) {
    .content {
      max-width: 95% !important;
    }
  }
  
  @media (max-width: 900px) {
    #posts .post_item {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: reverse !important;
          -ms-flex-direction: column-reverse !important;
              flex-direction: column-reverse !important;
      max-height: none;
    }
    #posts .post_item .col:first-of-type {
      margin: 20px 0;
    }
    #posts .post_item .thumb {
      height: auto;
      max-height: 200px;
    }
    #posts .post_item .thumb img {
      max-width: none;
      width: 100%;
    }
  }


.footer .col {
    width: auto !important;
    margin: 0 !important;
}

.footer .col p {
   margin-bottom: 0;
   color: #fff;
}
  /*# sourceMappingURL=style.css.map */